version: '3'

services:
  {{ traefik_docker_service_name }}:
    image: {{ traefik_docker_image }}
    ports:
{% for entrypoint, config in traefik_entry_points.items() %}
{% if config is mapping %}
      - "{{ config.port }}:{{ config.port }}"
{% else %}
      - "{{ config }}:{{ config }}"
{% endif %}
{% endfor %}
{% if traefik_dashboard %}
      - "8080:8080"
{% endif %}
    volumes:
      - {{ traefik_docker_socket }}:{{ traefik_docker_socket }}
      - {{ traefik_config_dir }}:/etc/traefik/
    networks:
      - {{ traefik_docker_network }}

networks:
  {{ traefik_docker_network }}:
    external: true