version: '3'

services:
  {{ traefik_docker_service_name }}:
    image: {{ traefik_docker_image }}
    ports:
{% for entrypoint in traefik_entrypoints %}
      - "{{ entrypoint.port }}:{{ entrypoint.port }}"
{% endfor %}
{% if traefik_dashboard and traefik_insecure_api %}
      - "8080:8080"
{% endif %}
    volumes:
      - {{ traefik_docker_socket }}:{{ traefik_docker_socket }}
      - {{ traefik_config_dir }}:{{ traefik_docker_config_dir }}/
    networks:
      - {{ traefik_docker_network }}

networks:
  {{ traefik_docker_network }}:
    external: true