version: '3'

services:
  {{ traefik_docker_service_name }}:
    image: {{ traefik_docker_image }}
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ traefik_config_dir }}:/etc/traefik/
    networks:
      - {{ traefik_docker_network }}

networks:
  {{ traefik_docker_network }}:
    external: true