{% macro optlist(name, values) -%}
{%  if values is string %}
    {{ name }} = ["{{ values }}"]
{%  else %}
    {{ name }} = ["{{ values | join('", "') }}"]
{%  endif %}
{%- endmacro %}
{% macro definition(router) -%}
    rule = "{{ router.rule }}"
{% if router.entrypoints is defined %}
    {{ optlist('entryPoints', router.entrypoints) }}
{% endif %}
{% if router.middlewares is defined %}
    {{ optlist('middlewares', router.middlewares) }}
{% endif %}
    service = "{{ router.service }}"
{%- endmacro %}
[http.routers]
{% if router.create | default('both') in(['both', 'insecure']) %}
  [http.routers.{{ router.name }}]
    {{ definition(router) }}
{% endif %}
{% if router.create | default('both') in(['both', 'secure']) %}
  [http.routers.{{ router.name }}-tls]
    {{ definition(router) }}
    [http.routers.{{ router.name }}-tls.tls]
{% endif %}
