{% macro definition(router) -%}
    rule = "{{ router.rule }}"
{% if router.entrypoints is defined %}
{%  if router.entrypoints is string %}
    entryPoints = ["{{ router.entrypoints }}"]
{%  else %}
    entryPoints = ["{{ router.entrypoints | join('", "') }}"]
{%  endif %}
{% endif %}
    service = "{{ router.service }}"
{%- endmacro %}
[http.routers]
{% if router.create | default('both') in(['both', 'insecure']) %}
  [http.routers.{{ router.name }}]
    {{ definition(router) }}
{% endif %}
{% if router.create | default('both') in(['both', 'secure']) %}
  [http.routers.{{ router.name }}-tls]
    {{ definition(router) }}
    [http.routers.{{ router.name }}-tls.tls]
{% endif %}
