# {{ ansible_managed }}

## Static configuration
[entryPoints]
{% for entrypoint in traefik_entrypoints %}
  [entryPoints.{{ entrypoint.name }}]
    address = "{{ entrypoint.ip | default('') }}:{{ entrypoint.port }}{% if entrypoint.protocol is defined %}/{{ entrypoint.protocol  }}{% endif %}"
{% if entrypoint.http is defined %}
    [entryPoints.{{ entrypoint.name }}.http]
{% if entrypoint.http.redirect is defined %}
      [entryPoints.{{ entrypoint.name }}.http.redirections]
        [entryPoints.{{ entrypoint.name }}.http.redirections.entryPoint]
          to = "{{ entrypoint.http.redirect.to }}"
{% endif %}
{% endif %}
{% endfor %}

[api]
  insecure = {{ 'true' if traefik_insecure_api else 'false' }}
  dashboard = {{ 'true' if traefik_dashboard else 'false' }}

{% if traefik_providers | length > 0 %}
[providers]
{% for provider in traefik_providers %}
  [providers.{{ provider.type }}]
{% for property, value in provider.items() %}
{% if property != 'type' %}
{% if value is boolean %}
    {{ property }} = {{ value | lower }}
{% else %}
    {{ property }} = "{{ value }}"
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}